.searchbar::placeholder {
  text-align: center;
  font-size: 14px;
  color: gray;
  background-position: 35%;
  background-size: 6%;
  background-image: url(../assets/search-solid.svg);
  background-repeat: no-repeat;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  background-color: #fafafa;
}

.postuserfont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: black;
}


.navbar {
  height: 54px;
}

.logo{
  margin-left: 25rem;
}

.card>.list-group {
  border: none;
}

.card{
  margin-bottom: 54px;
}

.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.fa-ellipsis-h{
  float: right;
  align-items: center;
  padding-top: 1vh;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: black;
  padding-left: 5px;
}

.middlearea > .row{
  max-height: 200px !important;
  
}

.rightpanel{
  border: 0;
  background-color: #fff;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}

#sticky-sidebar{
  position: sticky;
  top: 54px;
}