main {
  background-color: rgba(108, 122, 137, 0.1);
  margin-bottom: 20px;
}

.bg-custom-3 {
  height: 23.5vh;
  justify-content: center;
  padding-bottom: 11.5vh;
}

.bg-custom-2 {
  height: 25vh;
  justify-content: center;
  background-color: rgba(108, 122, 137, 0.1);
}

.fill {
  min-height: 100%;
  height: 100%;
}
