.list-group-item {
  color: #31462f;
  background-image: -webkit-linear-gradient(
    0deg,
    #31462f 0%,
    #221f35 33%,
    #a11235 67%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
